:root {
    --header-txt-color: rgb(255, 208, 0);
    --header-bg-color: rgb(0, 49, 82);
    --bg-start-color: rgb(68, 0, 177);
    --bg-end-color: rgb(138, 215, 191);
    --box-bg-color: rgb(119, 45, 69);
    --p-color: rgb(9, 26, 77);
    --link-color: rgb(255, 208, 0);
    --p-font: 'Courier New';
    --hover-color: rgb(166, 19, 78);
    --site-color: rgb(25, 28, 36);
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: var(--site-color);
}
  
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 5%;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: var(--header-txt-color);
    background-color: var(--box-bg-color);
    font-size: 100%;
    font-family: var(--p-font);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}

header nav ul li:hover {
    background-color: var(--hover-color);
}

div {
    background: var(--bg-start-color);
    background: linear-gradient(0deg, var(--bg-start-color) 0%, var(--bg-end-color) 100%);
    background-attachment: fixed;
    border-radius: 10px;
}

div header {
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-img {
    margin: 1%;
    width: 50%;
    border-radius: 5px;
}

.avatar {
    float: left;
    width: 20%;
    margin: 1% 5% 1% 5%;
    border-radius: 10px;
}

.info {
    margin: 5%;
    padding-bottom: 1%;
    font-size: 110%;
    list-style: circle;
}

.works {
    margin: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

wrapper {
    display: flex;
}

.small-box, .big-box, wrapper a {
    background-color: var(--box-bg-color);
    border-style: solid;
    border-color: var(--p-color);
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px var(--site-color);
    margin: 3%;
    text-align: center;
    flex: 2;
    padding: 1% 5% 1% 5%;
}

.big-box:hover, wrapper a:hover {
    background-color: var(--hover-color);
}

#horiseon-webpage {
    background-image: url('./assets/images/horiseon-home-page.png');
}

#my-github {
    background-image: url('./assets/images/github.PNG');
}

h1 {
    font-size: 140%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 120%;
    display: block;
    margin: auto;
    align-self: center;
    font-family: var(--p-font);
    color: var(--link-color);
}

p, .info ul li {
    font-family: var(--p-font);
    color: var(--p-color);
    margin: 2% 10% 1% 10%;
    font-weight: bold;
}

a:link, a:visited {
    color: var(--link-color);
}

footer{
    justify-content: center;
}

@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }
  